<ul>
    <a href="/"><li class="navbar" id="nav1">Home</li></a>
    <a href="/calculator"><li class="navbar" id="nav2">Calculator</li></a>
    <a href="/database"><li class="navbar" id="nav3">Mongo DB</li></a>
    <a href="/accounts"><li class="navbar" id="nav4">Accounts</li></a>
</ul>