<ul>
    <a href="/"><li class="navbar" id="nav1">Home</li></a>
    <a href="/calculator"><li class="navbar" id="nav2">Calculator</li></a>
    <a href=""><li class="navbar" id="nav3">Link 2</li></a>
    <a href=""><li class="navbar" id="nav4">Link 3</li></a>
    <a href=""><li class="navbar" id="nav5">Link 4</li></a>
</ul>