<h3>Home Page!</h3>
<p>Default loading page happens here. Now click something above to do something useful!</p>

<script>
    document.querySelector("h1").innerHTML = "Home Page";
    document.getElementById("nav1").style.color = "orange";
</script>